# **Network IPS with enhancements for DDoS attack detection**

In this project we are trying to build a network intrusion prevention system to detect different kinds of attacks on the SDN controller specially DDoS attacks. We used both machine and deep learning algorithms to build a better system.

The following are the detailed steps and code explaining the whole system.

# ***1) Importing needed libraries***
We thought it best to collect all used python libraries in one section instead of just leaving them sparsed in the whole project to be imported all at once.

In [ ]:
%matplotlib inline
# Start Python Imports
import math, time, random, datetime

# Data Manipulation
import numpy as np
import pandas as pd
from numpy import mean
from numpy import std

# Visualization 
import matplotlib.pyplot as plt

#import missingno
import seaborn as sns
plt.style.use('seaborn-whitegrid')

# Preprocessing
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize

# Machine learning
from sklearn.model_selection import train_test_split
from sklearn import model_selection, tree, preprocessing, metrics, linear_model
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import KFold, StratifiedKFold, train_test_split, cross_validate, cross_val_score
from sklearn.datasets import load_iris, load_boston
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
!pip install category_encoders
import category_encoders as ce


# Deep learning libraries
import keras
from keras import layers
from keras import Model
from keras.optimizers import RMSprop
import tensorflow as tf
from tensorflow.keras import regularizers
from tensorflow.keras import initializers
from keras.layers import Input
from keras.layers import Dense
from keras.models import Model
from keras.utils import plot_model

# Let's be rebels and ignore warnings for now
import warnings
warnings.filterwarnings('ignore')

# To import dataset files from google drive into google colab
from google.colab import drive
drive.mount('/content/drive')

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 3.6MB/s
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Mounted at /content/drive

# ***2) Data preprocessing***

In this section we import data files used for training and testing the model. Then, we apply multiple operations on data such as: filling nulls, removing outlayers and encoding (label,hashing).

We used The (UNSW_NB15) dataset for training and testing the model. You can find more about it and download it from the following link (https://www.kaggle.com/mrwellsdavid/unsw-nb15)

In [ ]:
# Reading data files 
df1 = pd.read_csv('/content/drive/MyDrive/Dataset/UNSW-NB15_1.csv')
df2 = pd.read_csv('/content/drive/MyDrive/Dataset/UNSW-NB15_2.csv')
df3 = pd.read_csv('/content/drive/MyDrive/Dataset/UNSW-NB15_3.csv')
df4 = pd.read_csv('/content/drive/MyDrive/Dataset/UNSW-NB15_4.csv')

# Adding columns names to data
columns=['srcip','sport','dstip','dsport','proto','state','dur','sbytes','dbytes','sttl', 'dttl', 'sloss', 'dloss','service', 'sload','dload','spkts','dpkts','swin','dwin','stcpb','dtcpb','smeansz','dmeansz','trans_depth','res_bdy_len', 'sjit','djit', 'stime','ltime','sintpkt','dintpkt','tcprtt','synack','ackdat','is_sm_ips_ports','ct_state_ttl','ct_flw_http_mthd' ,'is_ftp_login','ct_ftp_cmd','ct_srv_src','ct_srv_dst','ct_dst_ltm','ct_src_ ltm','ct_src_dport_ltm','ct_dst_sport_ltm','ct_dst_src_ltm','attack_cat','label']
df1.columns = columns
df2.columns = columns
df3.columns = columns
df4.columns = columns

# Combining all files in one file called (data).
dfs = [ df1, df2, df3, df4]
data = pd.concat(dfs).reset_index()
data.drop('index',axis=1,inplace=True)

data.head()

        srcip  sport          dstip  ... ct_dst_src_ltm attack_cat label
0  59.166.0.0  33661  149.171.126.9  ...              2        NaN     0
1  59.166.0.6   1464  149.171.126.7  ...              1        NaN     0
2  59.166.0.5   3593  149.171.126.5  ...              1        NaN     0
3  59.166.0.3  49664  149.171.126.0  ...              1        NaN     0
4  59.166.0.0  32119  149.171.126.9  ...              2        NaN     0

[5 rows x 49 columns]

In [ ]:
# Finding missing values in the dataset
data.isnull().sum().sort_values(ascending=False)[0:5]

attack_cat          2218760
is_ftp_login        1429877
ct_flw_http_mthd    1348143
label                     0
sloss                     0
dtype: int64

In [ ]:
# Finding number of attack samples in the dataset
data.query('label == 1')

                srcip  sport  ...      attack_cat label
19       175.45.176.3  21223  ...        Exploits     1
20       175.45.176.2  23357  ...        Exploits     1
21       175.45.176.0  13284  ...  Reconnaissance     1
38       175.45.176.2  13792  ...        Exploits     1
39       175.45.176.2  26939  ...        Exploits     1
...               ...    ...  ...             ...   ...
2540023  175.45.176.0  47439  ...         Generic     1
2540024  175.45.176.0  17293  ...        Exploits     1
2540025  175.45.176.0  33654  ...             DoS     1
2540026  175.45.176.0  33654  ...             DoS     1
2540042  175.45.176.0  17293  ...        Exploits     1

[321283 rows x 49 columns]

In [ ]:
# Attack types in the datasets
data.attack_cat.unique()

array([nan, 'Exploits', 'Reconnaissance', 'DoS', 'Generic', 'Shellcode',
       ' Fuzzers', 'Worms', 'Backdoors', 'Analysis', ' Reconnaissance ',
       'Backdoor', ' Fuzzers ', ' Shellcode '], dtype=object)

In [ ]:
# Dropping unused features
# We only used about the first 20 feature
# We dropped port numbers and IPs as they will cause overfitting, also dropped some columns that have huge NaNs

#data = data.drop(['srcip','sport','dstip','dsport','is_ftp_login','ct_flw_http_mthd','ct_dst_sport_ltm','ct_src_dport_ltm','ct_src_ ltm','ct_dst_ltm','ct_srv_dst','ct_srv_src','ct_ftp_cmd','ct_state_ttl','attack_cat','ct_dst_src_ltm','is_sm_ips_ports','ackdat','synack','tcprtt','dintpkt','sintpkt','res_bdy_len','trans_depth','state','sttl','dttl'], axis=1)

# List of Features that Implemenataion subteam succeeded to extract + label
imp_features= ['proto','dur','sbytes','dbytes','sloss','dloss','service','sload','dload','spkts','dpkts','swin','dwin','stcpb','dtcpb','smeansz','dmeansz','sjit','djit','stime','ltime','label']
data = data.loc[:,imp_features]

In [ ]:
# Looking at the different values in the service column in the dataset
data.service.value_counts()

-           1246395
dns          781667
http         206273
ftp-data     125783
smtp          81644
ftp           49090
ssh           47160
pop3           1533
dhcp            172
ssl             142
snmp            113
radius           40
irc              31
Name: service, dtype: int64

In [ ]:
# replacing '-' values in service with 'notservice'
data.service.replace('-','notservice',inplace=True)

In [ ]:
# Exploring protocols values in the dataset
data.proto.unique()

array(['udp', 'arp', 'tcp', 'ospf', 'icmp', 'igmp', 'sctp', 'udt', 'sep',
       'sun-nd', 'swipe', 'mobile', 'pim', 'rtp', 'ipnip', 'ip', 'ggp',
       'st2', 'egp', 'cbt', 'emcon', 'nvp', 'igp', 'xnet', 'argus',
       'bbn-rcc', 'chaos', 'pup', 'hmp', 'mux', 'dcn', 'prm', 'trunk-1',
       'xns-idp', 'trunk-2', 'leaf-1', 'leaf-2', 'irtp', 'rdp', 'iso-tp4',
       'netblt', 'mfe-nsp', 'merit-inp', '3pc', 'xtp', 'idpr', 'tp++',
       'ddp', 'idpr-cmtp', 'ipv6', 'il', 'idrp', 'ipv6-frag', 'sdrp',
       'ipv6-route', 'gre', 'rsvp', 'mhrp', 'bna', 'esp', 'i-nlsp',
       'narp', 'ipv6-no', 'tlsp', 'skip', 'ipv6-opts', 'any', 'cftp',
       'sat-expak', 'kryptolan', 'rvd', 'ippc', 'sat-mon', 'ipcv', 'visa',
       'cpnx', 'cphb', 'wsn', 'pvp', 'br-sat-mon', 'wb-mon', 'wb-expak',
       'iso-ip', 'secure-vmtp', 'vmtp', 'vines', 'ttp', 'nsfnet-igp',
       'dgp', 'tcf', 'eigrp', 'sprite-rpc', 'larp', 'mtp', 'ax.25',
       'ipip', 'micp', 'aes-sp3-d', 'encap', 'etherip', 'pri-enc', 'gmtp',
       'pnni', 'ifmp', 'aris', 'qnx', 'a/n', 'scps', 'snp', 'ipcomp',
       'compaq-peer', 'ipx-n-ip', 'vrrp', 'zero', 'pgm', 'iatp', 'ddx',
       'l2tp', 'srp', 'stp', 'smp', 'uti', 'sm', 'ptp', 'fire', 'crtp',
       'isis', 'crudp', 'sccopmce', 'sps', 'pipe', 'iplt', 'unas', 'fc',
       'ib'], dtype=object)

In [ ]:
# Applying label encoder for the dataset that will be used in the supervised model
Supervised_data = data.copy()
col =[]
for column in Supervised_data.columns :
    if Supervised_data[column].dtype == object :
        col.append(column)  
for column in col :
    le = LabelEncoder()
    print(column)
    le.fit(Supervised_data[column])
    
    Supervised_data[column]=le.transform(Supervised_data[column])

proto
service

# ***3) The Models*** 
Here we have two models: Supervised machine learning model and Unsupervised deep learning model 

The unsupervised model is used at the beginning before the supervised one to check if the flow (data) is suspicious or not. If the flow looks normal, it is allowed to pass peacefully without further checks ant it doesn't inovke any other investigation (the supervised one).

If the flow looks suspicious, the supervised model is invoked and 
used to investigate this flow to see if it is really an attack or not to to inform the controller to take the needed action

***A) Unsupervised deep learning model***

Here we built an Unsupervised deep learning model to perform an initial investigation of the data.

The model consists of () hidden-layer and each layer has () neuron. We used the ('tanh') function as the activation function and ('Adam') optimizer algorithm to handle sparse gradients along with other algorithms for a better efficient model.

***B) Supervised machine learning model***

In this part we used a supervised machine learning model to check the suspicious data (flow) that was passed by the unspervised DL model for further investigation to inform the controller with the proper action.

Here we used Random forest algorithm to classify the data. It is also imperative to say that we didn't just arbitrarly select Random forest. We tried many different algorithms such as: Gradient boost, K-NN , Support vector machines and even a deep learning model. we then compared their efficiency and run time too because we need the model to be able to detect attacks fast and accurately. At the end , we chose random forest because it gave the best results.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(Supervised_data.iloc[:,:-1],Supervised_data.iloc[:,-1], test_size=0.2, random_state=42,shuffle=True)

model = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)

#Normalization

for ee in X_train.columns:
# fit on training data column
  scale = MinMaxScaler().fit(X_train[[ee]])  
# transform the training data column
  X_train[ee] = scale.transform(X_train[[ee]])      
# transform the testing data column
  X_test[ee] = scale.transform(X_test[[ee]])


model.fit(X_train,y_train)

print("Train Accuracy : ",model.score(X_train, y_train) *100,"%")
print("Test Accuracy : ",model.score(X_test, y_test) *100,"%")

# Measuring test time
start = time.time()
y_pred = model.predict(X_test) 
finish = time.time()
print ('Test time >>> ', finish - start , 'seconds')
cm = confusion_matrix(y_test, y_pred)
print(cm)

Train Accuracy :  99.99576778735 %
Test Accuracy :  99.56122824595627 %
Test time >>>  0.06930303573608398 seconds
[[442553   1116]
 [  1113  63227]]

# ***Results & Conclusion***